{{define "socket/index.html"}}

<!DOCTYPE html>
<html lang="en">

<head>

    {{template "globals/_head.html"}}
    <title>Socket</title>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="/static/js/axios.js"></script>
    <style>
        .w-320 {
            width: 320px;
        }

        #login_form>input {
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    {{template "globals/_header.html" .}}
    <div class="container">
        <div class="w-320">
            socket
        </div>
    </div>
    {{template "globals/_footer.html"}}
    <script>
        ; (function () {
            var ws = new WebSocket("ws://localhost:{{.port}}/ws/ping");
            //连接打开时触发 
            ws.onopen = function (evt) {
                console.log("Connection open ...");
                // ws.send("Hello WebSockets!");
                ws.send("ping");
            };
            //接收到消息时触发  
            ws.onmessage = function (evt) {
                console.log("Received Message: " + evt.data);
                setTimeout(() => {
                    ws.send("ping");
                }, 5000)
            };
            //连接关闭时触发  
            ws.onclose = function (evt) {
                console.log("Connection closed.");
            };
        })();
    </script>
</body>

</html>
{{end}}