<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="/static/style/common.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <style>
        .container {
            display: flex;
            flex-direction: column;
            height: 100vh;
            width: 100vw;
            justify-content: center;
            align-items: center;
        }

        .w-320 {
            width: 320px;
        }

        #login_form>input {
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="w-320">
            <form id="login_form">
                <input type="email" id="email" placeholder="Email">
                <input type="password" id="password" placeholder="Password">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
    </div>
    <script>
        ; (function () {
            const login_form = document.getElementById('login_form')
            login_form.addEventListener('submit', (e) => {
                // e.stopPropagation()
                e.preventDefault()

                const emailEle = document.getElementById('email')
                const passwordEle = document.getElementById('password')

                const email = emailEle.value
                const password = passwordEle.value

                if (email && password) {
                    axios.post("/api/v1/login", {
                        email,
                        password
                    }).then(res => {
                        console.log(res)
                    })
                }

            }, false)
        })();
    </script>
</body>

</html>