<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head.html"}}
    <title>Register</title>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="/static/js/axios.js"></script>
    <style>
        .container {
            align-items: center;
            justify-content: center;
        }

        .w-320 {
            width: 320px;
        }

        #login_form>input {
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    {{template "header.html"}}

    <div class="container">
        <div class="w-320">
            <form id="login_form">
                <input type="text" id="name" name='name' placeholder="Name">
                <input type="email" id="email" name="email" placeholder="Email">
                <input type="password" id="password" name="password" placeholder="Password">
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password">
                <input type="file" id="avatar" name="avatar" placeholder="Avatar" accept="image/*">
                <input type="text" id="gender" name="gender" placeholder="Gender">
                <input type="number" id="age" name="gender" placeholder="Age">
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
        </div>
    </div>
    {{template "footer.html"}}
    <script>
        ; (function () {
            const login_form = document.getElementById('login_form')

            let avatar = ''

            document.getElementById('avatar').addEventListener("change", () => {
                avatar = ''
                var fd = new FormData()
                var file = document.getElementById('avatar')
                fd.append('file', file.files[0])
                Axios({
                    method: "post",
                    url: "/api/file_upload",
                    headers: {
                        "Content-Type": "application/form-data"
                    },
                    data: fd
                }).then((res) => {
                    console.log(res.data);
                    const urls = res.data.urls || [];
                    console.log(urls)
                    avatar = urls[0]
                })
            }, false)

            login_form.addEventListener('submit', (e) => {
                // e.stopPropagation()
                e.preventDefault()

                const nameEle = document.getElementById('name')
                const emailEle = document.getElementById('email')
                const passwordEle = document.getElementById('password')
                const confirmPasswordEle = document.getElementById('confirm_password')
                const genderEle = document.getElementById('gender')
                const ageEle = document.getElementById('age')

                const name = nameEle.value
                const email = emailEle.value
                const password = passwordEle.value
                const confirmPassword = confirmPasswordEle.value
                const gender = genderEle.value
                const age = ageEle.value

                if (email && password && password === confirmPassword && name && avatar && gender) {
                    Axios.post("/api/register", {
                        name,
                        email,
                        password,
                        confirm_password: confirmPassword,
                        avatar,
                        gender,
                        age: +age
                    }).then(res => {
                        if (res.code === 0) {
                            location.href = "/login"
                        }
                    })
                }

            }, false)
        })();
    </script>
</body>

</html>