name: build

on:
  push:
    branches: ["main", "dev"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        go-version: [1.18, 1.19, "1.20", 1.21, 1.22, 1.23, 1.24, 1.25] # warn: yml  1.20 -> 1.2

    steps:
      - uses: actions/checkout@v4
      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}

      - name: Go Env
        run: go env

      - name: Test
        run: make test

      - name: Build
        run: make all
